/*--------------------*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *::before, *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	color: inherit;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	color: inherit;
}

a, a:visited, a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

/*--------------------*/

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.eot");
	src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"),
		url("../fonts/Roboto-Regular.ttf") format("truetype"),
		url("../fonts/Roboto-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.eot");
	src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"),
		url("../fonts/Roboto-Bold.ttf") format("truetype"),
		url("../fonts/Roboto-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "MasonChronicles";
	src: url("../fonts/MasonChronicles-Medium.eot");
	src: local("☺"), url("../fonts/MasonChronicles-Medium.woff") format("woff"),
		url("../fonts/MasonChronicles-Medium.ttf") format("truetype"),
		url("../fonts/MasonChronicles-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

.body {
	background: #141218;
}

.wrap {
	max-width: 1440px;
	margin: 0 auto;
}

.page {
	background: #141218 url("../images/background.jpg") top right no-repeat;
	font-family: Roboto;
	color: #E5E5E5;
}

.container {
	max-width: 1165px;
	margin: 0 auto;
}

.header-indent {
	padding: 60px 15px 90px;
}

.header-inner {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	align-items: center;
	column-gap: 70px;
}

.menu {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	align-items: center;
	column-gap: 20px;
}

.menu__link {
	padding: 2px 10px;
}

.menu__link--active {
	border-bottom: 3px solid #a30000;
}

.menu__link:hover {
	opacity: 0.7;
}

.social {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	align-items: center;
	column-gap: 20px;
}

.social__img {
	display: block;
	width: 18px;
	height: 17px;
}

.social__link:nth-child(1)  .social__img {
	height: 14px;
	background: url("../images/social_twitter.svg") 0 0 / 100% no-repeat;
}

.social__link:nth-child(2)  .social__img {
	background: url("../images/social_instagram.svg") 0 0 / 100% no-repeat;
}

.social__link:nth-child(3)  .social__img {
	background: url("../images/social_facebook.svg") 0 0 / 100% no-repeat;
}

.social__link:hover {
	opacity: 0.7;
}

.main-indent {
	padding: 0 15px 90px;
}

.main-inner {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: space-between;
}

.tabs {
	width: 550px;
	height: 600px;
	position: relative;
	overflow: hidden;
}

.tab {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

.tab--active {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear;
}

.description__genre {
	margin-bottom: 15px;
}

.description__rating {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	align-items: center;
	column-gap: 10px;
	margin-bottom: 20px;
}

.description__title {
	font-family: MasonChronicles;
	font-weight: 500;
	font-size: 76px;
	margin-bottom: 20px;
}

.description__text {
	width: 450px;
	line-height: 20px;
	margin-bottom: 100px;
}

.description__button {
	font-size: 16px;
	font-weight: 700;
	padding: 20px 70px;
	background-color: #a30000;
	border-radius: 10px;
	box-shadow: 0 0 0.3px #000000;
}

.description__button:hover {
	background-color: #a71515;
	color: #e7e7e7;
}

.actors {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	column-gap: 40px;
	row-gap: 25px;
}

.actor__img {
	width: 115px;
	background-color: #00000065;
	border-radius: 10px;
	box-shadow: 0 0 0.3px #000000;
	margin-bottom: 5px;
}

.actor__name {
	font-size: 14px;
	font-weight: 700;
	color: sandybrown;
	text-align: center;
	margin-bottom: 5px;
}

.actor__text {
	font-weight: 700;
	text-align: center;
}

.comments-slider {
	width: 400px;
	position: relative;
}

.comments-slider .slick-list {
	overflow: hidden;
}

.comments-slider .slick-track {
	display: flex;
}

.comments-slider .slick-dots {
	display: flex;
	justify-content: center;
	align-content: center;
}

.comments-slider .slick-dots li {
	list-style: none;
	margin: 0 7px;
}

.comments-slider .slick-dots li button {
	width: 10px;
	height: 10px;
	font-size: 0;
	background: #ffffff;
	border-radius: 50%;
}

.comments-slider .slick-dots li.slick-active button {
	background: transparent;
	border: 2px solid #ffffff;
}

.comments-slider__item {
	width: 480px;
	padding: 15px 20px;
	background-color: #00000065;
	border-radius: 10px;
	box-shadow: 0 0 0.3px #000000;
	text-align: center;
	margin-bottom: 10px;
}

.comments-slider__item-name {
	font-size: 18px;
	font-weight: 700;
	color: sandybrown;
	text-align: left;
	margin-bottom: 5px;
}

.comments-slider__item-text {
	text-align: left;
	line-height: 16px;
}

.trailer__title {
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 15px;
}

.trailer__video {
	width: 516px;
	height: 315px;
	background-color: #00000065;
	border: 3px solid #a30000;
	box-shadow: 0 0 0.3px #000000;
	margin-bottom: 30px;
}

.trailer__text {
	font-family: MasonChronicles;
	font-weight: 500;
	font-size: 36px;
	text-align: center;
}

.footer {
	background: #141218;
}

.footer-indent {
	padding: 30px 15px;
}

.footer-inner {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: space-between;
	align-items: center;
}

.source-code__link {
	padding: 2px 5px;
	font-size: 16px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	opacity: 0.7;
}

.source-code__link:hover {
	opacity: 1;
}

.info-menu {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	align-items: center;
	column-gap: 25px;
}

.info-menu__link {
	opacity: 0.7;
}

.info-menu__link:hover {
	opacity: 1;
}
